In [3]:
from pandas_datareader import data
import pandas as pd
# Only get the adjusted close.
df = data.DataReader("kbank.bk", 
                       start='2018-1-1', 
        
                       data_source='yahoo')
# aapl.plot(title='AAPL Adj. Closing Price')

In [6]:
df.shape[0]

598

In [41]:
df['High'].iloc[3:3].shape[0]

0

In [31]:
df['High'].iloc[:3].tolist()

[237.0, 244.0, 244.0]

In [32]:
sum(df['High'].iloc[:3].tolist())

725.0

In [33]:
df.head()

             High    Low   Open  Close      Volume   Adj Close
Date
2018-01-03  237.0  233.0  234.0  237.0   6816400.0  217.086746
2018-01-04  244.0  238.0  239.0  242.0   8123000.0  221.666641
2018-01-05  244.0  240.0  242.0  241.0   6622100.0  220.750656
2018-01-08  245.0  241.0  243.0  241.0   8454800.0  220.750656
2018-01-09  240.0  234.0  240.0  235.0  13325700.0  215.254807

In [59]:
n = 30
count = 0
df_add_sma = df
start_value = df.shape[0]-n
for i in range(df.shape[0]):
    if i > n-1:
#         print(sum(df['High'].iloc[:i].tolist()),end=" ")
        print(format(sum(df['High'].iloc[count:i].tolist(),4)/n,'.2f'),end = " ")
#         print(count,end = " ")
        count += 1

232.97 232.57 232.03 231.57 231.07 230.67 230.40 230.27 229.87 229.53 229.50 229.53 229.50 229.67 229.93 230.00 230.10 230.07 230.17 230.13 229.93 229.67 229.43 229.17 229.03 228.93 228.70 228.50 228.40 228.33 228.17 227.87 227.40 226.90 226.37 225.87 224.88 223.75 222.80 221.83 220.77 219.63 218.63 217.60 216.60 215.57 214.42 213.20 211.92 210.65 209.58 208.58 207.58 206.48 205.40 204.38 203.43 202.50 201.60 200.65 199.78 199.05 198.32 197.43 196.73 196.17 196.05 196.05 195.87 195.68 195.40 195.15 194.93 194.80 194.93 195.20 195.52 195.73 195.88 196.15 196.32 196.48 196.72 197.05 197.30 197.43 197.55 197.63 197.58 197.53 197.50 197.45 197.52 197.73 197.80 197.85 197.93 198.03 198.18 198.18 198.20 198.28 198.30 198.20 197.95 197.75 197.58 197.95 198.42 198.75 199.12 199.62 200.22 200.78 201.35 201.97 202.70 203.45 204.27 205.10 206.00 206.78 207.48 208.15 208.85 209.57 210.25 210.95 211.67 212.38 213.15 213.92 214.58 215.28 215.80 216.23 216.63 216.67 216.57 216.43 216.33 216.10 215.67 215.60 215.63 215.57 215.50 215.53 215.50 215.43 215.30 215.30 215.33 215.33 215.33 215.27 215.20 215.07 214.90 214.83 214.63 214.43 214.40 214.30 214.23 214.10 214.03 213.90 213.77 213.73 213.70 213.70 213.77 213.40 212.80 212.25 211.75 211.35 210.85 210.42 210.05 209.85 209.55 209.28 208.85 208.32 207.82 207.28 206.75 206.10 205.52 204.92 204.20 203.60 203.07 202.62 202.02 201.53 201.27 200.97 200.57 200.05 199.48 199.07 198.80 198.45 197.90 197.22 196.78 196.25 195.65 194.92 194.17 193.38 192.88 192.35 191.85 191.45 191.05 190.80 190.58 190.35 190.13 189.75 189.32 188.90 188.57 188.30 187.92 187.58 187.35 187.28 187.30 187.37 187.43 187.58 187.80 188.25 188.68 189.18 189.65 190.15 190.83 191.42 191.75 192.20 192.62 192.97 193.32 193.63 193.97 194.23 194.52 195.08 195.72 196.28 196.83 197.23 197.55 197.75 197.88 197.90 197.95 197.93 197.92 197.90 197.90 197.65 197.25 196.87 196.55 196.22 195.82 195.52 195.35 195.18 194.95 194.67 194.42 194.13 193.87 193.68 193.53 193.32 193.07 192.77 192.48 192.28 192.18 192.12 192.05 192.03 192.00 191.98 191.98 191.90 191.85 191.87 191.97 191.97 191.88 191.73 191.58 191.45 191.28 191.15 191.07 191.03 191.00 191.02 191.03 191.02 190.98 190.90 190.72 190.57 190.42 190.37 190.37 190.37 190.42 190.45 190.47 190.47 190.48 190.60 190.67 190.63 190.63 190.72 190.83 190.97 191.10 191.17 191.22 191.20 191.27 191.32 191.37 191.38 191.30 191.23 191.15 191.10 191.17 191.25 191.30 191.13 190.82 190.48 190.08 189.65 189.15 188.67 188.10 187.48 186.82 186.18 185.62 185.00 184.38 183.78 182.97 182.22 181.45 180.68 179.57 178.53 177.60 176.68 175.73 174.70 173.77 172.72 171.62 170.55 169.55 168.75 168.00 167.23 166.48 165.82 165.27 164.65 164.27 164.05 164.08 164.00 163.63 163.18 162.83 162.55 162.48 162.38 162.30 162.17 162.32 162.40 162.37 162.22 162.10 161.95 161.67 161.48 161.37 161.15 160.87 160.45 160.13 159.95 159.88 159.78 159.50 159.15 158.48 157.52 156.27 155.12 154.18 153.52 152.72 151.98 151.32 150.88 150.45 150.15 149.80 149.50 149.20 148.93 148.78 148.68 148.62 148.55 148.42 148.53 148.80 149.07 149.22 149.33 149.37 149.33 149.32 149.35 149.47 149.75 150.07 150.32 150.63 150.75 150.97 151.12 151.23 151.17 151.17 151.08 151.07 151.05 151.05 151.12 151.18 151.35 151.28 151.17 150.87 150.48 149.90 149.30 148.62 147.87 147.25 146.83 146.32 145.95 145.70 145.47 145.35 145.25 144.97 144.68 144.52 144.37 144.10 143.77 143.42 143.20 142.98 142.73 142.48 142.18 141.90 141.55 141.42 141.27 141.22 140.95 140.75 140.48 140.15 139.72 139.17 138.53 138.15 137.63 137.10 136.42 135.43 134.43 133.48 132.21 130.82 129.10 127.36 125.67 123.92 122.28 120.28 118.24 116.20 114.29 112.58 110.61 108.92 107.24 105.59 104.08 102.83 101.92 101.10 100.25 99.38 98.54 97.72 96.80 95.98 95.45 95.03 94.47 93.90 93.64 93.27 93.08 92.96 92.90 92.88 92.62 92.62 92.72 92.80 92.78 92.49 92.47 92.18 92.05 92.02 91.99 91.67 91.15 90.76 90.58 90.59 90.50 90.43 90.56 91.03 91.53 92.08 92.91

In [53]:
a = 3.12453

In [56]:
format(a,'.2f')

'3.12'